Flask==3.1.0
Flask-Mail==0.10.0
mysql-connector-python==9.2.0
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.44
PyMySQL==1.1.2
email-validator==2.3.0
itsdangerous==2.2.0
Werkzeug==3.1.3
Jinja2==3.1.6
pymongo
dnspython
gunicorn
# Fix encoding v2
